{% extends 'base.html.twig' %}

{% block title %}New Doccument{% endblock %}

{% block body %}
    <h1>Create new Doccument</h1>

    {{ include('doccument/_form.html.twig') }}

    <a href="{{ path('doccument_index') }}">back to list</a>
{% endblock %}
